@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="mainController">
    <div id="main">
        <div ng-view></div>
        <pre>$location.path() = {{$location.path()}}</pre>
        <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
        <pre>$route.current.params = {{$route.current.params}}</pre>
    </div>
</div>