@model Pickem.Model.ViewModel.Home.VoteViewModel
<div class="alert alert-info">Take your pick!</div>


@if (Model.GameWeek.Games != null)
{
    foreach (var game in Model.GameWeek.Games)
    {
        <div class="row">
            <div class="col-lg-3">@Html.DisplayFor(m => game.VisitorTeam, "Team")</div>
            <div class="col-lg-1">vs</div>
            <div class="col-lg-3">@Html.DisplayFor(m => game.HomeTeam, "Team")</div>
        </div>
    }
}
else
{
    <b>No games found this week.</b>
}